@using Online_Tic_Oto.Models.Sınıflar
@model List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Fatura Listesi</h4>
<br />
<a href="/Fatura/FaturaEkle" class="btn btn-primary">Yeni Fatura</a>
<br />
<table class="table table-bordered" style="margin-top:20px;">

    <tr>
        <th>ID</th>
        <th>Seri No</th>
        <th>Sıra No</th>
        <th>Vergi Dairese</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Teslim Eden</th>
        <th>Teslim Alan</th>
        <th>Toplam</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>

    @foreach (var k in Model)
    {
        if (!string.IsNullOrEmpty(k.FaturaSeriNo))
        {
            <tr>
                <td>@k.FaturaID</td>
                <td>@k.FaturaSeriNo</td>
                <td>@k.FaturaSıraNo</td>
                <td>@k.VeriDariesi</td>
                <td>@k.Tarih.ToString("dd.MM.yyyy")</td>
                <td>@k.Saat</td>
                <td>@k.TeslimEden</td>
                <td>@k.TeslimAlan</td>
                <td>@k.ToplamTutar</td>
                <td><a href="/Fatura/FaturaGetir/@k.FaturaID" class="btn btn-success">Güncelle</a></td>
                <td><a href="/Fatura/FaturaDetay/@k.FaturaID" class="btn btn-success" style="background-color:dimgrey">Detay</a></td>

            </tr>
        }

    }



</table>


