@using Online_Tic_Oto.Models.Sınıflar
@model List<SatisHaraket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    /* Başlık sırasındaki sütun başlıkları için stil */
    .dataTables thead th {
        padding: 10px; /* Başlık hücrelerinin iç içe geçmesini engellemek için yeterli boşluk ekleyin */
        background-color: #f2f2f2;
        border-radius: 10px;
    }

    /* Sayfa gösterim seçenekleri için stil */
    .dataTables_length {
        margin-bottom: 30px; /* Sayfa gösterim seçeneklerini başlıklardan ayırmak için alt boşluk ekleyin */
    }

    /* Arama kutusu için stil */
    .dataTables_filter {
        margin-top: 10px; /* Arama kutusunu başlıklardan ayırmak için üst boşluk ekleyin */
    }

    /* Sayfalama kontrolleri için stil */
    .dataTables_paginate {
        margin-top: 10px; /* Sayfalama kontrollerini başlıklardan ayırmak için üst boşluk ekleyin */
    }
</style>
<br />
<a href="/Satis/YeniSatis" class="btn btn-primary">Satış Yap</a>
<br />
<br />
<div class="card mb-4">
    <div class="card-header">
        <h5>Satışlar</h5>
    </div>
    <div class="card-body">
        <div class="datatable-wrapper" datatable-loeading no-fotter sortable searchable fixed-colums>
        </div>
        <div class="datatable-container">
            <table id="datatablesSimple" class="datatable-table  table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Ürün Adı</th>
                        <th>Cari</th>
                        <th>Adet</th>
                        <th>Fiyat</th>
                        <th>Toplam</th>
                        <th>Tarih</th>
                        <th>Güncelle</th>
                        <th>Detay</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var a in Model)
                    {
                        <tr>
                            <td>@a.SatisID</td>
                            <td>@a.Urun.UrunAD.</td>
                            <td>@a.Cariler.CariADI @a.Cariler.CariSoyadı</td>
                            <td>@a.Adet</td>
                            <td>@a.Fiyat</td>
                            <td>@a.ToplamTutar</td>
                            <td>@a.Tarih.ToString("dd.MM.yyyy")</td>
                            <td><a href="/Satis/SatisGetir/@a.SatisID" class="btn btn-success">Güncelle</a></td>
                            <td><a href="/Satis/SatisDetay/@a.SatisID" class="btn btn-success" style="background-color:dimgrey">Detay</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- DataTables JavaScript -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<!-- DataTables Turkish Dil Dosyası -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.11.5/i18n/Turkish.json"></script>

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

<!-- DataTables Başlatma Kodu -->
<script>
    $(document).ready(function () {
        $('#datatablesSimple').DataTable({
            "language": {
                "sDecimal": ",",
                "sEmptyTable": "Tabloda herhangi bir veri mevcut değil",
                "sInfo": "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                "sInfoEmpty": "Kayıt yok",
                "sInfoFiltered": "(_MAX_ kayıt içerisinden bulunan)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "Sayfada _MENU_ kayıt göster",
                "sLoadingRecords": "Yükleniyor...",
                "sProcessing": "İşleniyor...",
                "sSearch": "Ara:",
                "sZeroRecords": "Eşleşen kayıt bulunamadı",
                "oPaginate": {
                    "sFirst": "İlk",
                    "sLast": "Son",
                    "sNext": "Sonraki",
                    "sPrevious": "Önceki"
                },
                "oAria": {
                    "sSortAscending": ": artan sütun sıralamasını etkinleştir",
                    "sSortDescending": ": azalan sütun sıralamasını etkinleştir"
                }
            },
            "lengthMenu": [5, 10, 25, 50, 100], // Sayfa gösterim seçeneklerini burada tanımlayın
            "pageLength": 10
            
        });        

    });
</script>
@*<table class="table table-bordered" style="margin-top:20px">
        <tr>
            <th>ID</th>
            <th>Ürün Adı</th>
            <th>Cari</th>
            <th>Adet</th>
            <th>Fiyat</th>
            <th>Toplam</th>
            <th>Tarih</th>
            <th>Güncelle</th>
            <th>Detay</th>
        </tr>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.SatisID</td>
                <td>@a.Urun.UrunAD.</td>
                <td>@a.Cariler.CariADI @a.Cariler.CariSoyadı</td>
                <td>@a.Adet</td>
                <td>@a.Fiyat</td>
                <td>@a.ToplamTutar</td>
                <td>@a.Tarih.ToString("dd.MM.yyyy")</td>
                <td><a href="/Satis/SatisGetir/@a.SatisID" class="btn btn-success">Güncelle</a></td>
                <td><a href="/Satis/CariSatis/@a.CariID" class="btn btn-success" style="background-color:dimgrey">Detay</a></td>
            </tr>
        }
    </table>*@
