@model Online_Tic_Oto.Models.Sınıflar.SatisDetay

<!-- Satış detayları girişi formu -->
@using (Html.BeginForm("_CreateSatisDetayPartial", "Satisdene", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.SatisID) <!-- Gizli alanla SatisId'yi aktarın -->

    <div class="form-group">
        @Html.LabelFor(model => model.UrunAD, "Ürün ID")
        @Html.EditorFor(model => model.UrunAD, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.UrunAD, "", new { @class = "text-danger" })
    </div>

    <!-- Diğer satış detayları alanları eklenebilir -->

    <div class="form-group">
        <input type="submit" value="Satış Detayı Oluştur" class="btn btn-primary" />
    </div>
}
